<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReFrame - Create Account</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div class="create-account">
       
            <label for="username">Username</label>
            <br>
            <input type="text" id="username" placeholder="Enter Username" onkeypress="return event.charCode != 32" maxlength="14">
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" id="password" placeholder="Enter Password" onkeypress="return event.charCode != 32">
            <br>
            <button id="create-account-button" onclick="createAccount()">Create Account</button>
        
    </div>
</body>
<script src="../js/createAccount.js"></script>
</html>