<!DOCTYPE html>
<html>

<head>
    <title>ReFrame - Create New Post</title>
    <meta charset="utf-8" />
    <style type="text/css">
    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>

    <link rel="stylesheet" href="../css/createNewPost.css">
</head>

<body>
    <hr>
    <form id="fileupload">
        
            
            <div>  
                <input id="caption" type="text" name="caption" oninput="changePreviewCaption()" maxlength="40" placeholder="Title">
                <input id="uploader" type="file" name="image" onchange="img()">
                <br>
                
                <input id="createButton" type="button" value="Post" />
       
    </form>

    

    <fieldset>
      <legend>Post Preview</legend>
      <div id="post-preview">
        
        
        <div id="post-preview-image">
            <img id="preview-image" src="" alt="" height="auto" width="80%">
        </div>
        <div id="post-preview-caption">
          <p id="preview-caption"></p>
      </div>
        

    
</div>
    </fieldset>

    <script>
        
        
      
      function deleteClicked() {
        let trimIdentifier = $("#identifier").val().trim();
        if (trimIdentifier == "") {
          alert("bad");
          return false;
        }
      
        $.ajax({
          url: "/delete/" + $("#identifier").val(),
          type: "DELETE",
          success: function (data) {
            if (data.error)
              alert("bad");
            else
              alert("good");
          },
          dataType: "json"
        });
        return false;
      }
    
      function changePreviewCaption(){
    
        //Changes caption live in preview
        let captionValue = $("#caption").val()
        $("#preview-caption").text(captionValue);
      }
      
      let lastImage;
      let lastText;
      let lastImageName;
      $(document).ready(function () {
        console.log('Ready');
        $("#createButton").click(createClicked);
      });
      
      function img() {
        let data = new FormData($("#fileupload")[0]);
      
        $.ajax({
          url: '/fileupload',
          type: 'POST',
          data: data,
          processData: false, // These two are needed to prevent JQuery from processing the form data
          contentType: false,
          mimeType: 'multipart/form-data',
          dataType: 'json', // Without this, the server's response will be a string instead of a JSON object
          success: uploadSuccess
        });
      }
      
      // !!! dont touch this (I have no idea how this works)
      function uploadSuccess(data) {
        
        let index = data.name.indexOf(".");
        if (index >= 0) {
          let ext = data.name.substring(index + 1);
          if (ext == "txt") {
            $('#text').load("images/" + data.name);
            tempMem = data.name;
            display.src = "";
          }
          else if (ext == "jpg" || ext == "png") {
            $('#text').html("Hello");
            lastImageName = data.name;
            lastImage = "images/" + data.name;
            $("#preview-image").attr("src", lastImage);
           
            return;
          }
        }
      }
    
        //socket.io code 
        const socket = io();
        socket.on('connect', () =>{
          console.log(socket.id);
        })
    
    
    
        function createClicked() {
          let caption = $("#caption").val();
          let image = lastImage;
          if(image == null){
            alert("Choose an Image to Post")
            return;
          }
          socket.emit('upload-post', caption, image)
          window.location.replace('/feed');
          return false;
      }
    </script>

</body>

</html>