<!DOCTYPE html>
<html>

<head>
    <title>ReFrame - Feed</title>
    <meta charset="utf-8" />
    <style type="text/css">
    </style>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <link rel="stylesheet" href="../css/feed.css">
    
</head>

<body>
    <header>
      <nav>
        
      </nav>
    </header>
    <aside>
      <div class="menu-div">
        <nav class="menu">
          <a href="/feed" id="home-link">Home</a>
          <a href="/createPost" id="new-post-link">Create Post</a>
        </nav>
      </div>
    </aside>

    <div id="create-post-interaction">
      
      <input type="text" id="create-post-interact-field" placeholder="Create Post" onclick="reDirectToCreatePost()">
    </div>
    <div id="content-options">
      <p id="sort-title">Sort By:</p>
      <input type="button" id="sort-top-voted" value="Most Liked">
      <input type="button" id="sort-following" value="Following">
      <input type="button" id="sort-new" value=" Sort New">
      <input type="button" id="sort-old" value="Sort Oldest">
    </div>
    
    
    <div id="feed"></div>
    

    <script src="../js/feed.js"></script>

</body>

</html>