<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReFrame - Login</title>
</head>
<body>
    <div class="login">
        <form action="login">
            <label for="username">Username</label>
            <br>
            <input type="text" id="username" placeholder="Enter Username" onkeypress="return event.charCode != 32" maxlength="14">
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" id="password" placeholder="Enter Password" onkeypress="return event.charCode != 32">
            <br>
            <button onclick="login()">Login</button>
            <br>
            <a href="/create-account">Dont have an account? Sign Up</a>
        </form>
    </div>
</body>
<script src="../js/login.js"></script>
</html>