*{
  padding: 0;
  margin: 0;
}
body {
    background-color: #E2D8A5;
}

#caption{
    
    width:97%;
    height: 30px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
#btn1{
  padding: 0%;
  margin: 0%;
  width: 325px;
  height: 40px;
}
#search{
  width: 40%;
  height: 30px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: 26%;
  font-size: large;
}
#btn2{
  position: absolute;
  left: 50%;
  padding: 0%;  
  margin: 0%;
  width: 325px;
  height: 40px;
}
#createButton{
  font-weight: initial;
  width: 62px;
  height: 32px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #071E22;
  background-color: #1D7874;
  position: absolute;
  bottom: 4%;
  right: 4%;
}

#createButton:hover{
  background-color: #071E22;
  border: 2px solid #1D7874;
}

input[type="file"]{
  color: transparent;
}
form {
  position: absolute;
  top: 10%;
  left: 33%;
}
#main-post-content{
  background-color: #E1A36F;
  width: 650px;
  height: 400px;
  border:20px;
  border-color:#000000;
  border-radius: 2px;
  border: 2px solid #071E22;
  
}
#image-div{
  position: absolute;
  left: 5%;
  top: 25%;
  background-color: #DEC484;
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color:#000000;
  border: 2px solid #071E22;
  padding: 0%;
}
#text-input{
  background-color: #DEC484;
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color:#000000;
  border: 2px solid #071E22;
  padding: 0%;
}

#upload-image{
  font-weight: initial;
  width: 110px;
  height: 32px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #071E22;
  background-color: #1D7874;

}
#uploader{
  width: 100%;
  height: 100%;
}

#upload-image:hover {
  background-color: #071E22;
  border: 2px solid #1D7874;
  
}
#text-input{
  border-style: none;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  height: 100%;

  max-width: 100%;
  max-height: 100%;

  min-width: 80%;
  min-height: 80%;
}
#new-post-link {
  display: block;
  width: 115px;
  height: 25px;
  background: rgba(24, 67, 92, 0.671);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 160px;
  right: 11px;
}
#home-link {
  display: block;
  width: 115px;
  height: 25px;
  background: rgba(24, 67, 92, 0.671);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 100px;
  right: 11px;
}
#profile-link {
  display: block;
  width: 115px;
  height: 25px;
  background: rgba(24, 67, 92, 0.671);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 220px;
  right: 11px;
}
/* comit to dev-main*/
#post-preview {
    display: grid;
    place-items:center;
    background-color: #679289;
    width: 500px;
    max-height: 650px;
    margin: 30px auto;
    overflow-x: hidden;
    font-family: Garamond;
    font-size: large;
}
fieldset
{
  background-color:#dbd7dd;
  max-width:100%;
  padding:60px;	
  border-style: inset ;
  border-color:#1D7874;
  border-width:10px;

}
.legend1
{
  margin-bottom:0px;
  margin-left:16px;
}
header {
   
  background-color:#46666e;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
  border: 2px solid #071E22;
}
.menu{
  background-color: #577E89;
  width: 10rem;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
  border: 2px solid #071E22;
}

#topBox{
  background-color:#dbd7dd;
  max-width:100%;
  padding:10px;	
  border-style: inset ;
  border-width: 10px;
  border-color:#1D7874;
}

legend {
  color: #000000;
  font-size: larger;
  font-family: Garamond;
  padding: 3px 6px;
}

input {
  margin: 0.4rem;
}
#HeaderH3{
  color: #000000;
  font-size: larger;
  font-family: Garamond;
  font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
  text-align: center;
	
}
