*{
  padding: 0;
  margin: 0;
}
body {
    background-color: gray;
}

#caption{
    
    width:97%;
    height: 30px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
#btn1{
  padding: 0%;
  margin: 0%;
  width: 325px;
  height: 40px;
}
#btn2{
  position: absolute;
  left: 50%;
  padding: 0%;  
  margin: 0%;
  width: 325px;
  height: 40px;
}
#createButton{
  font-weight: initial;
  width: 62px;
  height: 32px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #071E22;
  background-color: #1D7874;
  position: absolute;
  bottom: 4%;
  right: 4%;
}

#createButton:hover{
  background-color: #071E22;
  border: 2px solid #1D7874;
}

input[type="file"]{
  color: transparent;
}
form {
  position: absolute;
  top: 10%;
  left: 33%;
}
#main-post-content{
  background-color: #000000;
  width: 650px;
  height: 400px;
}
#image-div{
  position: absolute;
  left: 5%;
  top: 25%;
  background-color: gray;
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#upload-image{
  font-weight: initial;
  width: 110px;
  height: 32px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #071E22;
  background-color: #1D7874;
  
  
}
#uploader{
  width: 100%;
  height: 100%;
}

#upload-image:hover {
  background-color: #071E22;
  border: 2px solid #1D7874;
  
}
#text-input{
  border-style: none;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  height: 100%;
}
#post-preview {
    display: grid;
    place-items:center;
    background-color: #679289;
    width: 500px;
    max-height: 650px;
    margin: 30px auto;
    overflow-x: hidden;
    font-family: Garamond;
    font-size: large;
}
fieldset
{
  background-color:#dbd7dd;
  max-width:100%;
  padding:60px;	
  border-style: inset ;
  border-color:#1D7874;
  border-width:10px;

}
.legend1
{
  margin-bottom:0px;
  margin-left:16px;
}
header {
   
  background-color: #24252A;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
}
.menu{
  background-color: black;
  width: 10rem;
  height: 100vh;
  margin: 0;
  position: fixed;
  top: 0;
}

#topBox{
  background-color:#dbd7dd;
  max-width:100%;
  padding:10px;	
  border-style: inset ;
  border-width: 10px;
  border-color:#1D7874;
}

legend {
  color: #000000;
  font-size: larger;
  font-family: Garamond;
  padding: 3px 6px;
}

input {
  margin: 0.4rem;
}
