body {
    background-color: gray;
}

.post-container {
    display: grid;
    place-items: center;
    background-color: white;
    width: 400px;
    text-align: center;
    margin: 10px;
    position: relative;
    left: 40%
    
}

.post-image{
    display: flex;
    overflow: hidden;
    border-style: solid;
    border-width: 2%;
    border-color: black;
}



