*{
    margin:0;
    padding: 0;
}

body {
    background-color: gray;
    padding: 0;
    overflow-x: hidden;
    
}

.post-container {
    display: grid;
    place-items:center;
    background-color: #679289;
    width: 500px;
    height: 450px;
    margin: 30px auto;
    font-family: Garamond;
    padding: 10px;
    font-size: large;
}


.post-image{
    
    
    border-style: inset;
    border-color: #071E22;
    border-width: "3%";
    border-color: #1D7874;
    position: relative;
    left: 4.5%;
    top: 1%;
    
    
    
}


#feed {
    
    background-color: black;
    width: 50%;
    margin: 90px auto;
    margin-left: auto;
    margin-right:auto;
    align-items: center;
    
    

}

.menu{
    background-color: black;
    width: 10rem;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
}
#new-post-link {
    display: block;
    width: 115px;
    height: 25px;
    background: rgba(24, 67, 92, 0.671);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    position: absolute;
    top: 100px;
    right: 11px;
}








