body {
    background-color: gray;
}

.post-container {
    display: grid;
    place-items: center;
    background-color: white;
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 10px;
    position: relative;
    left: 40%;
    font-family: 'Courier New', Courier, monospace;
}

.post-image{
    
    border-width: 2%;
    border-color: black;
    
    
}

#new-post-link {
    display: block;
    width: 115px;
    height: 25px;
    background: #522db8;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    position: sticky;
}





